*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body, html{
    height: 100%;
}
.container{
    background-color: #e2e8f0;
    height: 100%;
    display: grid;
    grid-template-columns:0.5fr 2fr 1fr ;
    grid-template-rows: 0.5fr 1fr 1fr;
}

.header{
    background-color: #ffffff;
    grid-column: 2/4;
}

.sidebar{
    background-color: #1992d4;
    grid-row: 1/4;
}
.trending{
    grid-column: 3/4;
}
.mainContent{
    grid-column: 2/3;
    grid-row: 2/4;
}