*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: "Roboto";
    src: url(/Roboto/Roboto-VariableFont_wdth,wght.ttf);
    font-weight: 300;
}

body, html{
    height: 100%;
    font-family:"Roboto";
}

.container{
    background-color: #e2e8f0;
    height: 100%;
    display: grid;
    grid-template-columns:0.5fr 2fr 1fr ;
    grid-template-rows: 0.5fr 1fr 1fr;
}

.header{
    background-color: #ffffff;
    grid-column: 2/4;
    padding: 16px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}
.icon,.userLogo{
    height: 30px;
}
.nav1{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 15px;
}
.leftside1{
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    gap: 10px;
    /* justify-items: start; */
}
.rightside1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    gap: 10px;
}
.magnify{
    justify-self: end;
    
}
.search{
    width: 100%;
    height: 30px;
    border-radius: 10px;
    border: none;
    background-color: #e2e8f0;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
}
.userLogo,.notify{
    justify-self: end;
}
.nav2{
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    gap: 20%;
    padding: 16px;
}
.leftside2{
    display: grid;
    grid-template-columns: 0.2fr 1fr;
    align-items: center;
    justify-items: start;
    gap: 5px;
}
.userlogo2{
    height: 70px;
    grid-row: 1/3;
    grid-column: 1/2;
    justify-self: end;
}
.hithere{
    justify-self: start;
    padding: 10px;
    font-weight: 900;
}
.userName{
    font-weight: 900;
}
.rightside2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}
.btn1 > button{
    height:30px;
    width: 70px;
    border: none;
    border-radius: 15px;
    color: #ffffff;
    background-color: #1992d4;
    font-weight: 900;
    margin: 10px;
}
/* =============== */
.sidebar{
    background-color: #1992d4;
    grid-row: 1/4;
    display: grid;
    grid-template-rows: 0.2fr 0.5fr 1fr;
    align-items: start;
    gap: 15px; 
    padding: 16px;
    color: #ffffff;
    font-weight:900;
    font-size: 1.3rem;
}

.part1,.part2,.part3{
    display: grid;
    grid-template-columns: 0.3fr 1fr;
    gap: 5px;
}
.part1,.part2,.part3 > p{
    align-items: center;
}
.part1,.part2,.part3 >.icon {
    filter: brightness(0) invert(1);
  }
.dashboard{
    font-size: 1.6rem;
}
/* ======================== */
.trending{
    grid-column: 3/4;
}
/* ========================== */
.mainContent{
    grid-column: 2/3;
    grid-row: 2/4;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: row;
    gap: 10px;
    padding: 16px;
}
.title{
    grid-column: 1/3;
}
.item{
    border-left:7px solid orange;
    border-radius: 15px;
    display: grid;
    grid-template-rows: 2fr 0.5fr;
    padding: 10px;
    background-color: #ffffff;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.15);

}
.item2{
    justify-self: end;
    gap: 30px;
    padding: 16px;
    display: grid;
    grid-template-columns: 0.2fr 0.2fr 0.2fr;
}

 .icon1 {
    height: 20px;
}
/* ================== */
.announcement{
    display: grid;
    grid-template-rows: 0fr 1fr;
    gap: 10px;
    padding: 16px;
    font-size: 13px;
}
.announce-text{
    /* grid-column: 1/3; */
    font-size: 16px;
    font-weight: 900;
}
.announce-card{
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.15);
    padding: 16px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
}
.share-card{
    border-top: 1px solid rgba(0, 0, 0, 0.2);;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.2);
    opacity: 10px;
}

.trending{
    display: grid;
    grid-template-rows: 0fr 1fr;
    gap: 10px;
    padding: 16px;
    margin: 16px;
    
}
.trending-list{
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.15);
    display: grid;
    grid-template-columns: 0.2fr 1fr;
    gap: 10px;
    padding: 16px;
}
.trendingUser{
    height: 40px;
}